{{ $topic := .Get 0 }}

<!-- TICd -->
{{ if eq $topic "TICd" }}
<p>
    <i>
        <b>Groupe Imagerie @ HE-Arc</b>
        <br>
        Les domaines de compétences du <a href="https://www.he-arc.ch/ingenierie/groupes-de-competences/imagerie/">groupe Imagerie</a> incluent l'acquisition, l'analyse et le traitement d'images d'une part;
        la synthèse d'images 3D et l'animation 3D (infographie) d'autre part.
        La maîtrise de ces différents aspects de l'image nous permet de traiter des problématiques variées utilisant notamment la réalité augmentée, la réalité virtuelle ainsi que les Serious Games.
    </i>
</p>

<!-- CPP -->
{{ else if eq $topic "CPP" }}
<p>
    <i>
        <b>1242.2 Langage C++ @ HE-Arc - 1ère année, semestre de printemps, 4.5h / semaine</b>
        <br>
        Ce cours est une introduction au langage C++ et à la programmation orientée objet (POO).
        Il aborde les notions de classes, objets, surcharge des opérateurs, héritage, polymorphisme, transtypage, RTTI, modèles, exceptions et la bibliothèque standard.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'un jeu vidéo (RPG).
    </i>
</p>

<!-- Outils d'infographie -->
{{ else if eq $topic "OutilsCG" }}
<p>
    <i>
        <b>3292.2 Outils d'infographie @ HE-Arc - 3ème année, semestre de printemps, 2.25h / semaine</b>
        <br>
        Ce cours est une introduction aux outils d'infographie 3D.
        Il aborde entre autres les notions de caméra, lumière, matériaux, shaders, animation 3D, post-traitement, ombres, lightmaps, script, coroutines.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'un jeu vidéo en 2D ou en 3D avec Unity URP.
    </i>
</p>

<!-- Algo3 -->
{{ else if eq $topic "Algo3" }}
<p>
    <i>
        <b>2255.1 Algorithmes et structures de données III @ HE-Arc - 2ème année, semestre de printemps, 3h / semaine</b>
        <br>
        Ce cours présente les algorithmes et structures de données avancés.
        Il aborde entre autres les notions de graphes (représentations,  parcours, algorithme de Prim, Dijkstra, Ford-Fulkerson, tables  de  hachage.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement en C++.
    </i>
</p>

<!-- .NET -->
{{ else if eq $topic "DOTNET" }}
<p>
    <i>
        <b>2255.3 .NET @ HE-Arc - 2ème année, semestre de printemps, 3h / semaine</b>
        <br>
        Ce cours est une introduction à la plateforme .NET et au langage C#.
        Il aborde les notions de Common Language Runtime (CLR), Common Intermediate Language (CIL), compilation .NET, assembly, packages NuGet, types valeurs et références, espaces mémoires stack et heap, Windows Forms, WPF, XAML, contrôles graphiques, layout panel, data binding, data template, pattern MVVM, expressions lambda et LINQ.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'une application en  C#.
    </i>
</p>

<!-- P2 SA -->
{{ else if eq $topic "P2SA" }}
<p>
    <i>
        <b>2281.1 Projet P2 SA @ HE-Arc - 2ème année, semestre d'automne, 3h / semaine</b>
        <br>
        Durant ce projet, les étudiants travaillent en équipe sur un projet de développement d'une application avec les technologies de leur choix.
        L'accent est mis sur le travail en équipe, la gestion de projet, les résultats obtenus et la présentation finale.
</p>

<!-- P2 SP -->
{{ else if eq $topic "P2SP" }}
<p>
    <i>
        <b>2281.1 Projet P2 SP @ HE-Arc - 2ème année, semestre d'automne, 3h / semaine</b>
        <br>
        Durant ce projet, les étudiants travaillent en équipe sur un projet de développement d'une application en C++.
        Ils doivent aussi intégrer une interface graphique avec Qt ou une autre technologie de leur choix.
        L'accent est mis sur le travail en équipe, la gestion de projet, les résultats obtenus et la présentation finale.
</p>

<!-- TB -->
{{ else if eq $topic "TB" }}
<p>
    <i>
        <b>3285 - Travail de Bachelor ISC @ HE-Arc - 3ème année, 450 heures sur l'année</b>
        <br>
        Le travail de Bachelor (TB) est un projet individuel qui est réalisé durant la dernière année d'études.
        Il est encadré par un professeur responsable et un expert extérieur à l'école.
        L'étudiant.e applique ses compétences en gestion de projet, en analyse, en conception et en développement sur un projet de son choix, en entreprise ou dans une équipe de recherche.
        Le TB se termine par la livraison d'un rapport, d'une affiche et d'une soutenance orale durant laquelle un jury composé de l'expert, du professeur responsable et d'un membre de l'équipe de recherche évalue le travail réalisé.
</p>

<!-- Modèles d'infographie -->
{{ else if eq $topic "ModelesCG" }}
<p>
    <i>
        <b>3290.2 Modèles d'infographie @ HE-Arc - 3ème année, semestre d'automne, 2.25h / semaine</b>
        <br>
        Ce cours est une introduction aux modèles d'infographie 3D.
        Il aborde entre autres les notions de 3D, Pixel, caméra, lumières, pipeline graphique, textures, shaders, illumination, modèle géométrique, vertex, z-buffer, lancer de rayon, ray-casting, surface implicite, fractal, marching cube, voxel, wireframe, sprites, courbe paramétrique, GLSL, GPGPU, matrice de transformation, level of details, anti-aliasing, moteur de rendu, modeleur 3D.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'un jeu vidéo en 2D ou en 3D avec WebGL et Blender.
    </i>
</p>

<!-- P3 HES d'été -->
{{ else if eq $topic "P3HESEte" }}
<p>
    <i>
        <b>3281.1 Projet P3 HES d'été @ HE-Arc - 3ème année, fin de l'été, 90h</b>
        <br>
        Durant ce projet, les étudiants travaillent en équipe sur un projet de développement d'une application avec les technologies de leur choix.
        L'accent est mis sur le travail en équipe, la gestion de projet, les résultats obtenus et la présentation finale.
</p>

{{ end }}
